@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: max(12px, 1.5vw);
  font-family: sans-serif;
}

html {
  background-color: #E5E5E5;
}

h1 {
  font-size: max(16px, 3vw);
}

h2 {
  font-size: max(16px, 2vw);
}