@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
}

html {
  background-color: #E5E5E5;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

.customScrollBar::-webkit-scrollbar {
  background-color: inherit;
}

.customScrollBar::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 4px;
}